.about {
  padding-bottom: 10rem;
  width: 100%;
  // height: 100vh;
  background: $newMainColor;
  .aboutMe {
    width: 80%;
    height: 100%;
    margin: auto;
    @include flex();
    justify-content: space-between;
    gap: 5rem;
    flex-wrap: wrap;
    .leftAbout {
      flex: 1 1 50rem;

      // width: 50%;
      // max-width: 40%;
      // max-width: 50%;
      h2:nth-child(1) {
        font-size: 5rem;
        text-align: center;
        padding: 1rem;
        position: relative;
        &::after {
          content: "";
          width: 50%;
          height: 0.5rem;
          // color: $newMainColor;
          position: absolute;
          display: block;
          background: $secColor;
          bottom: 0;
          left: 25%;
          right: 0;
          border-radius: 1rem;
        }
      }
      h2:nth-child(2) {
        padding-top: 2rem;
      }
      color: $white;
      font-size: 2rem;
      text-align: justify;
      text-justify: inter-word;
      .btns {
        @include flex();
        gap: 4rem;
        justify-content: start;
        padding-top: 1rem;
        #resume {
          @include btn();
          background: $white;
        }
        #aboutMe {
          @include btn();
          position: relative;
          &::after {
            content: "";
            width: 0;
            height: 0;
            transition: all 0.5s;
          }
        }
      }
    }

    .rightAbout {
      // flex: 1 1 40rem;
      // max-width: 50%;
      // width: 40%;
      // background-color: white;
      flex: 1 1 50rem;

      border-radius: 1rem;
      .rightAboutCol {
        padding-top: 2rem;
        .box {
          &:hover {
            background: $secColor;
            h4,
            p {
              color: black;
            }
          }
          border-radius: 0.5rem;
          height: 15rem;
          margin-bottom: 1rem;
          padding: 1rem;
          @include flex();
          justify-content: space-between;

          background-color: #27272a;

          h4 {
            color: $white;
            font-size: 1.5rem;
          }
          p {
            padding-left: 1rem;
            color: $white;
          }
          img {
            // object-fit: cover;
            width: 10rem;
            border-radius: 1rem;
            // height: 100%;
            // max-height: 10rem;
            // border-radius: 50%;
            // border: 5px solid white;
          }
        }
      }
    }
  }
}
