$color1: #0b0c10;
$color2: #1f2833;
$color3: #c5c6c7;
$color4: #66fcf1;
$color5: #45a29e;
$color6: #e6e9f2;
$color7: #5096b9;
//60% color 4, 30 percent color3,3.approx rest colors

$secColor: #6d87ff;
// $secColor: #7888f3;
$white: white;
// $secColor: #f0a500;
$mainColor: #082032;
$newMainColor: #17171f;
// $newMainColor: white;
