#footer {
  width: 100%;
  height: 30rem;
  background: black;
  .footerCol {
    height: 30rem;
    @include col(center, 2rem);
    .box {
      flex: 1 1 30rem;
      h6 {
        color: $white;
        font-size: 2rem;
      }
      input {
        padding: 1rem;
        border-radius: 1rem;
      }
      span {
        color: white;
        font-size: 2rem;
        text-align: center;
      }
      a {
        color: white;
        padding: 1rem;
        font-size: 20px;
        &:hover {
          color: $secColor;
        }
      }
      #mc_embed_signup {
        width: 100%;
        background-color: black;
        color: white;
      }
      #mc-embedded-subscribe {
        background-color: white;
        color: black;
        width: 20rem;
        height: 5rem;
      }
    }
  }
}
