// Media quries section
@media screen and (max-width: 1283px) {
  html {
    font-size: 50% !important;
  }
}
@media screen and (max-width: 730px) {
  html {
    font-size: 40% !important;
  }
  main {
    height: 87vh;
    .mainCol {
      height: 60vh;
    }
  }
}
@media screen and (max-width: 570px) {
  html {
    font-size: 40% !important;
  }
  main {
    height: 87vh;
    .mainCol {
      height: 60vh;
    }
  }
  .rightAbout {
    div {
      margin: auto;
      width: 60px !important;
    }
  }
}
@media screen and (max-width: 435px) {
  html {
    font-size: 35% !important;
  }
  main {
    height: 70vh;
    .mainCol {
      height: 66vh;
    }
  }
  .rig .rightAbout {
    div {
      margin: auto;
      width: 30px !important;
    }
  }
}
