@import "_Uitils";
.recentProject {
  background: $white;
  // height: 100vh;
  width: 100%;
  background: $newMainColor;
  h2 {
    color: $white;
    text-align: center;
    font-size: 5rem;
    position: relative;
    &::after {
      content: "";
      width: 40rem;
      height: 0.5rem;

      position: absolute;
      display: block;
      background: $secColor;
      bottom: -5%;
      left: 50%;
      transform: translateX(-50%);
      right: 0;
      border-radius: 1rem;
    }
    margin-bottom: 2rem;
  }
  .projectCol {
    @include col(center, 3rem);
    width: 90%;
    // height: 100%;
    // background: $white;
    .projectBox {
      padding-top: 2rem;

      // z-index: -1;
      @include WH(40rem, 38rem);
      background: white;
      border-radius: 2rem;
      .imgContainer {
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
          rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
          rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
          rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
          rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
          rgba(0, 0, 0, 0.09) 0px 32px 16px;
        border-radius: 2rem;
        overflow: hidden;

        margin: auto;
        h3 {
          position: absolute;
          color: $black;
          bottom: 1rem;
          left: 3rem;
          font-size: 2rem;
          // text-shadow: 3px 3px 20px $secColor, -2px 1px 30px $secColor;
          background-color: white;
          padding: 0 1rem;
          border-radius: 2rem;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        }

        position: relative;
        border-radius: 1rem;
        background: white;
        width: 90%;
        // margin-top: 2rem;
        height: 26.5rem;
        img {
          box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
            rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
            rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
            rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
            rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
            rgba(0, 0, 0, 0.09) 0px 32px 16px;
          border-radius: 2rem;
          width: 100%;
          object-fit: cover;
          border-radius: 1rem;
        }

        &:hover {
          cursor: pointer;
          .cursor {
            z-index: 1000;
          }
        }
      }
      .deitals {
        height: calc(35rem - 26.5rem);
        @include flex();
        justify-content: center;
        align-items: center;
        .githubBtn {
          box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
            rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
            rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
            rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
            rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
            rgba(0, 0, 0, 0.09) 0px 32px 16px;
          padding: 2rem 2rem;
          background: $secColor;
          color: $BtnColor;
          font-size: 1.5rem;
          margin: 1rem;
          border-radius: 2rem;
          // background: black;
        }
        .liveBtn {
          box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
            rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
            rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
            rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
            rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
            rgba(0, 0, 0, 0.09) 0px 32px 16px;
          padding: 2rem 2rem;
          background: $secColor;
          color: $BtnColor;
          font-size: 1.5rem;
          margin: 1rem;
          border-radius: 2rem;
        }
      }
    }
  }
}
