@import "_Uitils";
.recentProject {
  background: $white;
  // height: 100vh;
  width: 100%;
  background: $newMainColor;
  h2 {
    color: $white;
    text-align: center;
    font-size: 5rem;
    position: relative;
    &::after {
      content: "";
      width: 40rem;
      height: 0.5rem;

      position: absolute;
      display: block;
      background: $secColor;
      bottom: -5%;
      left: 50%;
      transform: translateX(-50%);
      right: 0;
      border-radius: 1rem;
    }
    margin-bottom: 2rem;
  }
  .projectCol {
    @include col(center, 3rem);
    width: 90%;
    // height: 100%;
    // background: $white;
    .projectBox {
      // z-index: -1;
      @include WH(40rem, 35rem);
      background: black;
      border-radius: 1rem;
      .imgContainer {
        overflow: hidden;
        h3 {
          position: absolute;
          color: $BtnColor;
          bottom: 1rem;
          left: 3rem;
          font-size: 2rem;
          // text-shadow: 3px 3px 20px $secColor, -2px 1px 30px $secColor;
          text-shadow: 0 0 20px #fff, 0 0 30px $secColor, 0 0 40px $secColor,
            0 0 50px $secColor, 0 0 60px $secColor, 0 0 70px $secColor,
            0 0 80px $secColor;
        }

        position: relative;
        border-radius: 1rem;
        background: $white;
        width: 100%;
        height: 26.5rem;
        img {
          width: 100%;
          object-fit: cover;
          border-radius: 1rem;
        }
        iframe {
          width: 100%;
          object-fit: cover;
          border-radius: 1rem;
        }
        &:hover {
          cursor: pointer;
          .cursor {
            z-index: 1000;
          }
        }
      }
      .deitals {
        height: calc(35rem - 26.5rem);
        @include flex();
        justify-content: flex-start;
        align-items: center;
        .githubBtn {
          padding: 1rem 3rem;
          background: $secColor;
          color: $BtnColor;
          font-size: 1.5rem;
          margin: 1rem;
          border-radius: 1rem;
          // background: black;
        }
        .liveBtn {
          padding: 1rem 3rem;
          background: $secColor;
          color: $BtnColor;
          font-size: 1.5rem;
          margin: 1rem;
          border-radius: 1rem;
        }
      }
    }
  }
}
