@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin WH($width, $height) {
  width: $width;
  height: $height;
}
@mixin PaddingAllSides($top, $right, $bottom, $left) {
  padding: $top $right $bottom $left;
}
@mixin marginAllSides($top, $right, $bottom, $left) {
  margin: $top $right $bottom $left;
}
@mixin padding($topBottom, $rightLeft) {
  padding: $topBottom $rightLeft;
}
@mixin margin($topBottom, $rightLeft) {
  margin: $topBottom $rightLeft;
}

@mixin Bg($bg, $color) {
  background: $bg;
  color: $color;
}

@mixin btn {
  background-color: $secColor;
  padding: 1rem 2rem;
  // border-radius: 2rem;
  border-radius: 0.5rem;
  color: $BtnColor;
  margin-top: 1rem;
  display: block;
  width: 30%;
  font-size: 1.6rem;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

@mixin col($space, $gap) {
  width: 80%;
  height: 100%;
  margin: auto;
  @include flex();
  justify-content: $space;
  gap: $gap;
  flex-wrap: wrap;
}

@mixin curse($text) {
  transform: scale(3);
  background: $white;

  animation-play-state: paused !important;
  transform-origin: center;
  &::after {
    content: $text !important;
    display: block !important;
    // @include flex();

    font-size: 0.7rem;
  }
}
