@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin WH($width, $height) {
  width: $width;
  height: $height;
}
@mixin PaddingAllSides($top, $right, $bottom, $left) {
  padding: $top $right $bottom $left;
}
@mixin marginAllSides($top, $right, $bottom, $left) {
  margin: $top $right $bottom $left;
}
@mixin padding($topBottom, $rightLeft) {
  padding: $topBottom $rightLeft;
}
@mixin margin($topBottom, $rightLeft) {
  margin: $topBottom $rightLeft;
}

@mixin Bg($bg, $color) {
  background: $bg;
  color: $color;
}

@mixin btn {
  background-color: $secColor;
  padding: 1rem 2rem;
  // border-radius: 2rem;
  border-radius: 0.5rem;
  color: $BtnColor;
  margin-top: 1rem;
  display: block;
  width: 30%;
  font-size: 1.6rem;
}

@mixin col($space, $gap) {
  width: 80%;
  height: 100%;
  margin: auto;
  @include flex();
  justify-content: $space;
  gap: $gap;
  flex-wrap: wrap;
}

@mixin curse($text) {
  transform: scale(3);
  background: $white;

  animation-play-state: paused !important;
  transform-origin: center;
  &::after {
    content: $text !important;
    display: block !important;
    // @include flex();

    font-size: 0.7rem;
  }
}
