@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@media screen and (max-width: 1283px) {
  html {
    font-size: 50% !important;
  }
}

@media screen and (max-width: 960px) {
  .scrollBtn {
    display: none;
  }
}

@media screen and (max-width: 730px) {
  html {
    font-size: 40% !important;
  }
  main {
    height: 87vh;
  }
  main .mainCol {
    height: 60vh;
  }
}

@media screen and (max-width: 570px) {
  html {
    font-size: 40% !important;
  }
  main {
    height: 87vh;
  }
  main .mainCol {
    height: 60vh;
  }
  .rightAbout div {
    margin: auto;
    width: 60px !important;
  }
}

@media screen and (max-width: 435px) {
  html {
    font-size: 35% !important;
  }
  main {
    height: 70vh;
  }
  main .mainCol {
    height: 66vh;
  }
  .rig .rightAbout div {
    margin: auto;
    width: 30px !important;
  }
}

@media screen and (max-width: 955px) {
  body {
    position: relative;
    width: 100%;
  }
  body .cursor {
    display: none;
  }
  body header nav {
    position: static !important;
  }
  body header nav #menuBar {
    display: block !important;
  }
  body header nav #menuBar {
    font-size: 2.4rem;
    cursor: pointer;
  }
  body header nav ul {
    -webkit-transition: left 0.5s;
    transition: left 0.5s;
    width: 100%;
    height: 100vh;
    background: white;
    position: absolute;
    left: -100%;
    top: 0;
    display: block;
  }
  body header nav ul #close {
    display: block !important;
    right: 2.5rem;
    top: 2.5rem;
    color: black;
    font-size: 3rem;
    position: absolute;
    cursor: pointer;
    margin: 0;
    padding: 0;
    -webkit-transition: none;
    transition: none;
    border-radius: 0;
  }
  body header nav ul #mega {
    cursor: pointer;
  }
  body header nav ul #mega label,
  body header nav ul #mega input {
    display: block;
  }
  body header nav ul #mega #projects {
    display: none;
  }
  body header nav ul #mega input {
    display: none;
  }
  body header nav ul #mega .projectLabel {
    font-size: 1.5rem;
    color: black;
    font-weight: 500;
  }
  body header nav ul #mega #showMega:checked ~ .megaMenu {
    height: inherit;
    overflow: visible;
  }
  body header nav ul li {
    text-align: center;
    float: none !important;
  }
  body header nav ul li a {
    color: black !important;
    text-shadow: none !important;
  }
  body header nav ul li .megaMenu {
    width: 100%;
    display: block !important;
    overflow: hidden !important;
    position: static !important;
  }
  body header nav ul li .megaMenu .content {
    width: 100%;
    display: block !important;
  }
  body header nav ul li .megaMenu .content .row {
    width: 100% !important;
    text-align: center;
  }
  body header nav ul li .megaMenu .content .row input:checked ~ .megalinks {
    max-height: 9rem;
    overflow: visible;
  }
  body header nav ul li .megaMenu .content .row h3 {
    display: none;
  }
  body header nav ul li .megaMenu .content .row h3::after {
    display: none;
  }
  body header nav ul li .megaMenu .content .row .megalinks {
    display: block;
    max-height: 0;
    overflow: hidden;
    position: static;
    width: 100%;
  }
  body header nav ul li .megaMenu .content .row .megalinks li {
    padding: 0.3rem 1rem;
    height: 2rem !important;
  }
  body header nav ul li .megaMenu .content .row .megalinks li a {
    padding: 0;
  }
  body header nav ul li .megaMenu .content .row .megalinks li a i {
    display: none;
  }
  body header nav ul li .megaMenu .content .row .megalinks li a h4 {
    font-size: 1.2rem !important;
  }
}

.MainHeader {
  background: #17171f;
  color: white;
  width: 100%;
  height: 10vh;
}

.MainHeader nav {
  position: relative;
  width: 100%;
  height: 10vh;
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.MainHeader nav #menuBar,
.MainHeader nav #close {
  display: none;
}

.MainHeader nav .logo {
  width: 7.5rem;
}

.MainHeader nav .logo a {
  color: white;
  font-size: 2rem;
}

.MainHeader nav ul label,
.MainHeader nav ul input {
  display: none;
}

.MainHeader nav ul #HireLi {
  background: black;
}

.MainHeader nav ul li {
  float: left;
  margin: 0 1rem;
  padding: 1rem 2rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 0.5rem;
}

.MainHeader nav ul li:hover ul {
  display: block;
  height: 75vh;
}

.MainHeader nav ul li a {
  position: relative;
  font-weight: 500;
  color: white;
  font-size: 1.5rem;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
  display: block;
}

.MainHeader nav ul li .megaMenu {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 10vh;
  left: 0;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  color: black;
}

.MainHeader nav ul li .megaMenu .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.MainHeader nav ul li .megaMenu .content h3 {
  font-size: 1.5rem;
  position: relative;
  font-weight: 400;
  padding: 1rem;
}

.MainHeader nav ul li .megaMenu .content h3::after {
  content: "";
  width: 50%;
  position: absolute;
  height: 0.3rem;
  border-radius: 0.5rem;
  background: #dfdfea;
  bottom: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
}

.MainHeader nav ul li .megaMenu .content .row {
  text-align: center;
  width: 19rem;
}

.MainHeader nav ul li .megaMenu .content .row ul li {
  margin: 0;
  width: 100%;
  height: 8rem;
  text-align: center;
}

.MainHeader nav ul li .megaMenu .content .row ul li:hover {
  background: #dfdfea;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.MainHeader nav ul li .megaMenu .content .row ul li:hover a h4 {
  color: white;
}

.MainHeader nav ul li .megaMenu .content .row ul li:hover i {
  color: white !important;
}

.MainHeader nav ul li .megaMenu .content .row ul li a {
  display: block;
  text-shadow: none;
  padding: 0.5rem;
}

.MainHeader nav ul li .megaMenu .content .row ul li a h4 {
  font-weight: 400;
  text-shadow: none;
  color: black;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  width: 14.5rem;
}

.MainHeader nav ul li .megaMenu .content .row ul li a i {
  font-size: 3rem;
}

.MainHeader nav ul li .megaMenu .content .row ul li a .fa-html5 {
  color: #dd4b25;
}

.MainHeader nav ul li .megaMenu .content .row ul li a .fa-css3-alt {
  color: #254bdd;
}

.MainHeader nav ul li .megaMenu .content .row ul li a .fa-js-square {
  color: #efd81d;
}

.MainHeader nav ul li .megaMenu .content .row ul li a .fa-react {
  color: #5cd2f3;
}

.MainHeader nav ul li .megaMenu .content .row ul li a .fa-tags {
  color: #5e96ed;
}

.MainHeader nav ul li .megaMenu .content .row ul li a .fa-chart-pie {
  color: #fbbd08;
}

.MainHeader nav ul li .megaMenu .content .row ul li a .fa-chart-line {
  color: #e37400;
}

.MainHeader nav ul li .megaMenu .content .row ul li a .fa-hotjar {
  color: #ff3c00;
}

.MainHeader nav ul li .megaMenu .content .row ul li a .fa-rectangle-ad {
  color: #4081ec;
}

.MainHeader nav ul li .megaMenu .content .row ul li a .fa-facebook {
  color: #1877f2;
}

.MainHeader nav ul li .megaMenu .content .row ul li a .fa-envelope {
  background: -webkit-gradient(linear, left bottom, right top, from(#4285f4), color-stop(#9372e5), color-stop(#c55bc9), color-stop(#e442a1), color-stop(#f23474), color-stop(#ef4350), color-stop(#e2582d), color-stop(#cd6c00), color-stop(#b08200), color-stop(#8e9200), color-stop(#699f2a), to(#35a854));
  background: linear-gradient(to right top, #4285f4, #9372e5, #c55bc9, #e442a1, #f23474, #ef4350, #e2582d, #cd6c00, #b08200, #8e9200, #699f2a, #35a854);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.MainHeader nav ul li .megaMenu .content .row ul li a .fa-uikit {
  color: #15435e;
}

.MainHeader nav ul li .megaMenu .content .row ul li a .fa-figma {
  color: #9d56f7;
}

.MainHeader nav ul li .megaMenu .content .row ul li a .fa-palette {
  background: -webkit-gradient(linear, left bottom, right top, from(#d16ba5), color-stop(#c777b9), color-stop(#ba83ca), color-stop(#aa8fd8), color-stop(#9a9ae1), color-stop(#8aa7ec), color-stop(#79b3f4), color-stop(#69bff8), color-stop(#52cffe), color-stop(#41dfff), color-stop(#46eefa), to(#5ffbf1));
  background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* main.css | http://127.0.0.1:5500/assets/main.css */
main .mainCol .mainRight {
  /* background: white; */
  /* height: 100%; */
  /* max-height: 43vh; */
}

#main {
  width: 80%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

#main .mainCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5rem;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  width: 100%;
  height: 100vh;
  width: 100%;
}

#main .mainCol .mainLeft {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60rem;
          flex: 1 1 60rem;
  color: white;
}

#main .mainCol .mainLeft h2 {
  font-weight: 300;
  font-size: 3rem;
}

#main .mainCol .mainLeft h2 strong {
  color: #dfdfea;
  background: #17171f;
}

#main .mainCol .mainLeft #hireBtn {
  background-color: #dfdfea;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  color: black;
  margin-top: 1rem;
  display: block;
  width: 30%;
  font-size: 1.6rem;
}

#main .mainCol .mainRight {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  border-radius: 1rem;
}

#main .mainCol .mainRight img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 1rem;
  height: 100%;
}

.about {
  padding-bottom: 10rem;
  width: 100%;
  background: #17171f;
}

.about .aboutMe {
  width: 80%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about .aboutMe .leftAbout {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50rem;
          flex: 1 1 50rem;
  color: white;
  font-size: 2rem;
}

.about .aboutMe .leftAbout h2:nth-child(1) {
  font-size: 5rem;
  text-align: center;
  padding: 1rem;
  position: relative;
}

.about .aboutMe .leftAbout h2:nth-child(1)::after {
  content: "";
  width: 50%;
  height: 0.5rem;
  position: absolute;
  display: block;
  background: #dfdfea;
  bottom: 0;
  left: 25%;
  right: 0;
  border-radius: 1rem;
}

.about .aboutMe .leftAbout h2:nth-child(2) {
  padding-top: 2rem;
}

.about .aboutMe .leftAbout .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-top: 1rem;
}

.about .aboutMe .leftAbout .btns #resume {
  background-color: #dfdfea;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  color: black;
  margin-top: 1rem;
  display: block;
  width: 30%;
  font-size: 1.6rem;
  background: white;
}

.about .aboutMe .leftAbout .btns #aboutMe {
  background-color: #dfdfea;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  color: black;
  margin-top: 1rem;
  display: block;
  width: 30%;
  font-size: 1.6rem;
  position: relative;
}

.about .aboutMe .leftAbout .btns #aboutMe::after {
  content: "";
  width: 0;
  height: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.about .aboutMe .rightAbout {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.about .aboutMe .rightAbout .tagcloud {
  color: #6dff9c;
  font-size: 2rem;
}

.recentProject {
  background: white;
  width: 100%;
  background: #17171f;
}

.recentProject h2 {
  color: white;
  text-align: center;
  font-size: 5rem;
  position: relative;
  margin-bottom: 2rem;
}

.recentProject h2::after {
  content: "";
  width: 40rem;
  height: 0.5rem;
  position: absolute;
  display: block;
  background: #dfdfea;
  bottom: -5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  right: 0;
  border-radius: 1rem;
}

.recentProject .projectCol {
  width: 80%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-content: center;
  gap: 3rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
}

.recentProject .projectCol .projectBox {
  width: 40rem;
  height: 35rem;
  background: black;
  border-radius: 1rem;
}

.recentProject .projectCol .projectBox .imgContainer {
  overflow: hidden;
  position: relative;
  border-radius: 1rem;
  background: white;
  width: 100%;
  height: 26.5rem;
}

.recentProject .projectCol .projectBox .imgContainer h3 {
  position: absolute;
  color: black;
  bottom: 1rem;
  left: 3rem;
  font-size: 2rem;
  text-shadow: 0 0 20px #fff, 0 0 30px #dfdfea, 0 0 40px #dfdfea, 0 0 50px #dfdfea, 0 0 60px #dfdfea, 0 0 70px #dfdfea, 0 0 80px #dfdfea;
}

.recentProject .projectCol .projectBox .imgContainer img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}

.recentProject .projectCol .projectBox .imgContainer:hover {
  cursor: pointer;
}

.recentProject .projectCol .projectBox .imgContainer:hover .cursor {
  z-index: 1000;
}

.recentProject .projectCol .projectBox .deitals {
  height: calc(35rem - 26.5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  align-items: center;
}

.recentProject .projectCol .projectBox .deitals .githubBtn {
  padding: 1rem 3rem;
  background: #dfdfea;
  color: black;
  font-size: 1.5rem;
  margin: 1rem;
  border-radius: 1rem;
}

.recentProject .projectCol .projectBox .deitals .liveBtn {
  padding: 1rem 3rem;
  background: #dfdfea;
  color: black;
  font-size: 1.5rem;
  margin: 1rem;
  border-radius: 1rem;
}

.getInTouch {
  padding: 10rem 0;
  width: 100%;
}

.getInTouch .getCol {
  width: 80%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-content: center;
  gap: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.getInTouch .getCol h2 {
  color: white;
  text-align: center;
  font-size: 5rem;
  position: relative;
  margin-bottom: 2rem;
}

.getInTouch .getCol h2::after {
  content: "";
  width: 50%;
  height: 0.5rem;
  position: absolute;
  display: block;
  background: #dfdfea;
  bottom: 0;
  left: 25%;
  right: 0;
  border-radius: 1rem;
}

.getInTouch .getCol p {
  color: white;
  font-size: 2.5rem;
}

.getInTouch .getCol a {
  text-align: center;
  padding: 1rem 3rem;
  background: #dfdfea;
  color: black;
  font-size: 2rem;
  border-radius: 0.5rem;
}

#footer {
  width: 100%;
  height: 30rem;
  background: black;
}

#footer .footerCol {
  height: 30rem;
  width: 80%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-content: center;
  gap: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#footer .footerCol .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
}

#footer .footerCol .box h5 {
  color: white;
  font-size: 2rem;
}

#footer .footerCol .box input {
  padding: 1rem;
  border-radius: 1rem;
}

#footer .footerCol .box span {
  color: white;
  font-size: 2rem;
  text-align: center;
}

#footer .footerCol .box a {
  color: white;
  padding: 1rem;
  font-size: 2rem;
}

#footer .footerCol .box a:hover {
  color: #dfdfea;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Poppins", "sans-serif";
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

::-moz-selection {
  color: crimson;
}

::selection {
  color: crimson;
}

body {
  position: relative;
  background: #17171f;
}

body .getTouchHovered {
  -webkit-transform: scale(3);
          transform: scale(3);
  background: white;
  -webkit-animation-play-state: paused !important;
          animation-play-state: paused !important;
  -webkit-transform-origin: center;
          transform-origin: center;
}

body .getTouchHovered::after {
  content: "Contact me right Now" !important;
  display: block !important;
  font-size: 0.7rem;
}

body .hoverLive {
  -webkit-transform: scale(3);
          transform: scale(3);
  background: white;
  -webkit-animation-play-state: paused !important;
          animation-play-state: paused !important;
  -webkit-transform-origin: center;
          transform-origin: center;
}

body .hoverLive::after {
  content: "See live demo" !important;
  display: block !important;
  font-size: 0.7rem;
}

body .sourceHovered {
  -webkit-transform: scale(3);
          transform: scale(3);
  background: white;
  -webkit-animation-play-state: paused !important;
          animation-play-state: paused !important;
  -webkit-transform-origin: center;
          transform-origin: center;
}

body .sourceHovered::after {
  content: "See source code" !important;
  display: block !important;
  font-size: 0.7rem;
}

body .activate {
  background: #dfdfea;
}

body .scrollBtn {
  position: fixed;
  top: 30%;
  right: 1.5rem;
  width: 4rem;
  height: 10rem;
}

body .scrollBtn a {
  display: block;
  border: 0.4rem solid #615c5c;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  margin: 0.5rem 0;
}

body .scrollBtn a:active {
  background: black !important;
}

body .showAbout::after {
  content: "If You Want Know About Me Click Here." !important;
  width: 13rem !important;
  height: 13rem !important;
  border: 0.2rem solid white;
  border-radius: 50%;
  position: absolute;
  top: 100%;
  right: 30%;
  color: black;
  text-align: center;
  padding: 1rem;
  background: white !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 939092309;
}

body .resumeLink {
  -webkit-transform: scale(3);
          transform: scale(3);
  background: white;
  -webkit-animation-play-state: paused !important;
          animation-play-state: paused !important;
  -webkit-transform-origin: center;
          transform-origin: center;
}

body .resumeLink::after {
  content: "Download Now" !important;
  display: block !important;
  font-size: 0.7rem;
}

body .downloadLink {
  -webkit-transform: scale(3);
          transform: scale(3);
  background: white;
  -webkit-animation-play-state: paused !important;
          animation-play-state: paused !important;
  -webkit-transform-origin: center;
          transform-origin: center;
}

body .downloadLink::after {
  content: "Hire Me Now" !important;
  display: block !important;
  font-size: 0.7rem;
}

body .imgGrow {
  -webkit-animation-play-state: paused !important;
          animation-play-state: paused !important;
  -webkit-transform: scale(6);
          transform: scale(6);
  -webkit-transform-origin: center;
          transform-origin: center;
}

body .textGrow {
  -webkit-animation-play-state: paused !important;
          animation-play-state: paused !important;
  -webkit-transform: scale(6);
          transform: scale(6);
  background: white;
  -webkit-transform-origin: center;
          transform-origin: center;
}

body .h2Grow {
  -webkit-animation-play-state: paused !important;
          animation-play-state: paused !important;
  -webkit-transform: scale(6);
          transform: scale(6);
  -webkit-transform-origin: center;
          transform-origin: center;
}

body .cursor {
  width: 3rem;
  height: 3rem;
  border: 0.2rem solid white;
  border-radius: 50%;
  position: absolute;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-animation: cursorAnim 0.5s infinite alternate;
          animation: cursorAnim 0.5s infinite alternate;
  pointer-events: none;
  mix-blend-mode: difference;
  background: white;
}

body .anime {
  -webkit-animation: anime 0.5s infinite alternate;
          animation: anime 0.5s infinite alternate;
}

body .cursor::after {
  content: "Open now";
  width: 3rem;
  height: 3rem;
  border: 0.2rem solid white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 70%;
  color: black;
  text-align: center;
  padding: 1rem;
  background: white;
  display: none;
  z-index: 1000;
}

body .linkGrow {
  -webkit-transform: scale(3);
          transform: scale(3);
  background: white;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-transform-origin: center;
          transform-origin: center;
}

body .linkGrow::after {
  display: block;
}

body .linkHover {
  color: black !important;
}

@-webkit-keyframes cursorAnim {
  from {
    scale: 1;
  }
  to {
    scale: 0.7;
  }
}

@keyframes cursorAnim {
  from {
    scale: 1;
  }
  to {
    scale: 0.7;
  }
}

@-webkit-keyframes anime {
  0% {
    scale: 1;
  }
  50% {
    opacity: 0.7;
    scale: 1.8;
  }
  90% {
    opacity: 0.4;
    scale: 4;
  }
  100% {
    opacity: 0.2;
    scale: 10;
  }
}

@keyframes anime {
  0% {
    scale: 1;
  }
  50% {
    opacity: 0.7;
    scale: 1.8;
  }
  90% {
    opacity: 0.4;
    scale: 4;
  }
  100% {
    opacity: 0.2;
    scale: 10;
  }
}
/*# sourceMappingURL=main.css.map */