@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

@import "_mediaQuaries";
@import "_Uitils";
@import "_colors";
@import "_nav";
@import "_home";
@import "_about";
@import "_recentProjects";
@import "_getInTouch";
@import "_footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Poppins", "sans-serif";
  font-display: swap;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  // transition: all 2seeeeeeee;
  font-display: swap;
}

::selection {
  color: crimson;
}

body {
  // transition: scroll 4s;

  .getTouchHovered {
    @include curse("Contact me right Now");
  }
  .hoverLive {
    // transform: scale(3);
    // background: $white;

    // animation-play-state: paused !important;
    // transform-origin: center;
    // &::after {
    //   content: "" !important;
    //   display: block !important;
    //   // @include flex();
    //   font-size: 0.7rem;
    // }
    @include curse("See live demo");
  }
  .sourceHovered {
    @include curse("See source code");
  }
  .activate {
    background: $secColor;
    // border: none !important;
  }
  // transition: scroll-behavior 0.5ss;
  position: relative;
  .scrollBtn {
    position: fixed;
    top: 30%;
    right: 1.5rem;
    width: 4rem;
    height: 10rem;
    a {
      display: block;
      // background: $secColor;
      border: 0.4rem solid rgb(97, 92, 92);
      border-radius: 50%;
      height: 3rem;
      width: 3rem;
      cursor: pointer;
      margin: 0.5rem 0;
      &:active {
        background: black !important;
      }
    }
  }
  // cursor: none;
  // About me LINk
  .showAbout {
    &::after {
      content: "If You Want Know About Me Click Here." !important;
      width: 13rem !important;
      height: 13rem !important;
      border: 0.2rem solid $white;
      border-radius: 50%;
      position: absolute;
      top: 100%;
      right: 30%;
      color: black;
      text-align: center;
      padding: 1rem;
      background: $white !important;
      @include flex();
      // display: block !important;
      z-index: 939092309;
    }
  }
  // Resume Link
  .resumeLink {
    // transform: scale(3);
    // background: $white;

    // animation-play-state: paused !important;
    // transform-origin: center;
    // &::after {
    //   content: "Download Now" !important;
    //   display: block !important;
    //   // @include flex();
    //   font-size: 0.7rem;
    @include curse("Download Now") // }
;
  }
  // Download now link grow
  .downloadLink {
    // transform: scale(3);
    // background: $white;

    // animation-play-state: paused !important;
    // transform-origin: center;
    // &::after {
    //   content: "Hire me" !important;
    //   display: block !important;
    //   // @include flex();
    //   font-size: 0.7rem;
    //   // padding-top: 0.4rem !important;
    // }
    @include curse("Hire Me Now");
  }
  // IMg grow
  .imgGrow {
    animation-play-state: paused !important;
    transform: scale(6);
    // background: black;

    transform-origin: center;
    // background-attachment: fixed;
    // filter: grayscale(100%);
  }
  // Target text

  .textGrow {
    animation-play-state: paused !important;
    transform: scale(6);
    background: $white;

    transform-origin: center;
  }
  .h2Grow {
    animation-play-state: paused !important;
    transform: scale(6);
    transform-origin: center;
  }
  // Targeting Custom Cursor
  .cursor {
    width: 3rem;
    height: 3rem;
    border: 0.2rem solid $white;
    border-radius: 50%;
    position: absolute;
    // z-index: 1000;
    // transform: translate(-50%, -50%);
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim 0.5s infinite alternate;
    pointer-events: none;
    mix-blend-mode: difference;
    background: $white;
  }
  .anime {
    animation: anime 0.5s infinite alternate;
  }
  .cursor::after {
    content: "Open now";
    width: 3rem;
    height: 3rem;
    border: 0.2rem solid $white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 70%;
    color: black;
    text-align: center;
    padding: 1rem;
    background: $white;
    display: none;
    z-index: 1000;
  }

  .linkGrow {
    transform: scale(3);
    background: $white;

    animation-play-state: paused;
    transform-origin: center;
    &::after {
      display: block;
    }
  }

  .linkHover {
    color: black !important;
  }
  @keyframes cursorAnim {
    from {
      scale: (1);
    }
    to {
      scale: (0.7);
    }
  }
  @keyframes anime {
    0% {
      scale: (1);
    }
    50% {
      opacity: 0.7;
      scale: (1.8);
    }
    90% {
      opacity: 0.4;
      scale: (4);
    }
    100% {
      opacity: 0.2;
      scale: (10);
    }
  }

  // @include Bg($color6, $color4); //Body Color
  background: $newMainColor;
  // background-color: #f0a500;
  // ;

  // @include WH(100%, 100vh);
  // Targeting main section

  // About me section
  // .skeleton {
  //   animation: skeletonLoading 1s ease infinite alternate;
  // }

  // @keyframes skeletonLoading {
  //   0% {
  //     background-color: hsl(200, 20%, 70%);
  //   }
  //   100% {
  //     background-color: hsl(200, 20%, 95%);
  //   }
  // }
}
