@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import "_home";
@import "_colors";
@import "_nav";
@import "_Uitils";
@import "_about";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Poppins", "sans-serif";
}
html {
  font-size: 62.5%;
}

::selection {
  color: crimson;
}

body {
  // cursor: none;
  // Download now link grow
  .downloadLink {
    transform: scale(3);
    background: white;

    animation-play-state: paused !important;
    transform-origin: center;
    &::after {
      content: "Hire me" !important;
      display: block !important;
      font-size: 0.7rem;
      // padding-top: 0.4rem !important;
    }
  }
  // IMg grow
  .imgGrow {
    animation-play-state: paused !important;
    transform: scale(6);
    // background: black;

    transform-origin: center;
    // background-attachment: fixed;
    // filter: grayscale(100%);
  }
  // Target text

  .textGrow {
    animation-play-state: paused !important;
    transform: scale(6);
    background: white;

    transform-origin: center;
  }
  .h2Grow {
    animation-play-state: paused !important;
    transform: scale(6);
    transform-origin: center;
  }
  // Targeting Custom Cursor
  .cursor {
    width: 3rem;
    height: 3rem;
    border: 0.2rem solid white;
    border-radius: 50%;
    position: absolute;
    // z-index: 1000;
    // transform: translate(-50%, -50%);
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim 0.5s infinite alternate;
    pointer-events: none;
    mix-blend-mode: difference;
    background: white;
  }
  .cursor::after {
    content: "Open now";
    width: 3rem;
    height: 3rem;
    border: 0.2rem solid white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 70%;
    color: black;
    text-align: center;
    padding: 1rem;
    background: white;
    display: none;
    z-index: 1000;
  }

  .linkGrow {
    transform: scale(3);
    background: white;

    animation-play-state: paused;
    transform-origin: center;
    &::after {
      display: block;
    }
  }

  .linkHover {
    color: black !important;
  }
  @keyframes cursorAnim {
    from {
      scale: (1);
    }
    to {
      scale: (0.7);
    }
  }

  // @include Bg($color6, $color4); //Body Color
  background: $newMainColor;
  // background-color: #f0a500;
  // ;

  // @include WH(100%, 100vh);
  // Targeting main section

  // About me section
}
